.Table
 {
     display: table;
     width: 50%;
     height: 50%;
     
 }
 .Title
 {
     display: table-caption;
     text-align: center;
     font-weight: bold;
     font-size: larger;
 }
 .Heading
 {
     display: flex;
     font-weight: bold;
     text-align: center;
 }
 .Row
 {
     display: table-row;
 }
 .Cell
 {
     display: table-cell;
     width: 5%;
     height: 5%;
     border: transparent;
     border-width: thin;
     text-align: center;
 } 